@charset "UTE-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 62.5%;}

body {
  background-color: #736b60;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  color: #b39e81;
  line-height: 1.5;
}

img {
    max-width:100% ;
    height:auto ;}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 36px 8px;
  background: #f0eada;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}
/* 
h1 {
  text-align: center;
  color: #736b60;
  font-size: 24px;
  margin: 24px 0;
} */

#main{
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 24px;
}

.description {
  display: block;
  margin: 0 auto;
  width: 80%;
  font-size: 14px;
  margin-bottom: 36px;
}

.note {
  background: #d8cfb0;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.note h2 {
  font-size: 14px;
  margin-bottom: 8px;
}

.note ul {
  padding-left: 20px;
  font-size: 12px;
}

.prohibited {
    color: #dc6756;
}

form label {
  display: block;
  margin-bottom: 24px;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  margin-top: 6px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
}

textarea {
  height: 100px;
  resize: vertical;
}

.example {
    font-size: 12px;
}

button {
    display: block;
    margin: 0 auto;
  width: 60%;
  padding: 12px;
  background: #736b60;
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

button:hover {
  background: #d8cfb0;
  color: #736b60;
}

#thanks {
  text-align: center;
  margin-top: 40px;
}

.thanks-img {
  max-width: 320px;
  width: 80%;
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.thanks-text {
  font-size: 14px;
  padding: 24px;
}

#Xicon {
    padding: 12px ;
    margin: 36px 0 ;
    height: auto;   
    width: 50%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

footer {
  text-align: center;
  margin-top: 24px;
}

footer a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
}

.copy small {
    font-size: 1rem;
    color:#736b60;

}
